.time-line {
  position: fixed;
  bottom: 70px;
  width: 100%;
  height: 3px;
  background: rgba(255, 255, 255, 0.25);
  overflow: hidden;
  z-index: 2;
  max-width: 512px;
  left: 50%;
  transform: translateX(-50%);
}

.time-line-progress {
  width: 0%;
  height: 100%;
  background: #fff;
  transition: width .05s linear;
}