@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  padding: 0;
  margin: 0;
}

.main {
  position: relative;
  height: 100vh;
  max-width: 512px;
  margin: 0 auto;
  overflow: hidden;
}